/****************************List of all Galleries****************************/

.view-gallery-photos .node-teaser {
  border-top: none;
  padding: 0;
}
        
.view-gallery-photos .view-display-id-node_content_2 {
  float: left;
  padding-right: 10px;
}

html#html-alpha.js body#pid-gallery-forestry-slideshow.not-front div#page.page div#page-inner.page-inner div#content-wrapper.page-sidebar-last div#main-wrapper.main-wrapper div#main.main div#main-inner.main-inner div#main-group.main-group div#main-group-inner.main-group-inner div#main-content.main-content div#main-content-inner.main-content-inner div#content-group.content-group div#content-group-inner.content-group-inner div#content-region.content-region div#content-region-inner.content-region-inner div#content-inner.content-inner div#content-inner-inner.content-inner-inner div#content-content.content-content div#node-3336 div.node-inner div.content div.view div.view-content table.views-view-grid tbody tr.row-1 td.col-2 div.views-field-field-pictures-data span.field-content div.caption
	
/****************************Individual Galleries****************************/

.view-gallery-photos table.views-view-grid tr {
  vertical-align: top;
}

.view-gallery-photos table.views-view-grid td {

  vertical-align: top;
  text-align: center;
  padding: 0;
  margin: 0;
}

.views-field-field-pictures-data {
  text-align: center;
}

.views-field-field-pictures-fid {
  margin-top: 10px;
}
	
.views_slideshow_singleframe_main {
  text-align: center;
}
	
.view-gallery-photos .views-field-field-pictures-fid img {
  background-color: #F1F1F1 !important;
  border: 1px solid #C8C8C8 !important;
  padding: 5px !important;
}

.view-gallery-photos .view-header {
  text-align: left;
  color: #424143;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1em;
  font-style: italic;
}

.view-gallery-photos .caption {
  font-size: 95%;
  text-align: left;
  padding: 0 10px;
}

/*********************************Slideshows*********************************/

.view-id-gallery_photos .views_slideshow_singleframe_slide {
  z-index: 10 !important;
}