/****************************List of all Galleries****************************/

.view-gallery-photos .node-teaser {
  border-top: none;
  padding: 0;
}
        
.view-gallery-photos .view-display-id-node_content_2 {
  float: left;
  padding-right: 10px;
}
	
/****************************Individual Galleries****************************/

.views-field-field-pictures-fid {
 margin-top: -5px;
}
	
.views_slideshow_singleframe_main {
  background-color: #F1F1F1 !important;
  border: 1px solid #C8C8C8 !important;
  margin-top: 0 !important;
  padding: 5px !important;
  width: 220px;
}

.views_slideshow_singleframe_teaser_section {
  background-color: #F1F1F1;
  margin: 0 !important;
  padding: 0 !important;
}
	
.view-gallery-photos .caption {
  font-size: 95%;
  text-align: left;
  padding: 0 10px;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow, 
.galleryformatter-greenarrows .gallery-thumbs .wrapper, 
.galleryformatter-greenarrows .gallery-thumbs li.active a, 
.galleryformatter-greenarrows .gallery-thumbs li a:hover, 
.galleryformatter-greenarrows .galleryformatter-view-full {
	background-image: url("gfx_btn_gallery.png") !important;
}

.galleryformatter-greenarrows .galleryformatter-view-full {
  margin: 10px 0 0 0 !important;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
  height: 32px !important;
}

.galleryformatter-greenarrows .gallery-thumbs li a {
  padding: 19px 0 0 0 !important;
}

.galleryformatter-greenarrows .gallery-thumbs li {
  padding: 3px 4px 0 0 !important;
}

.galleryformatter-greenarrows .gallery-slides {
  padding-left: 12px;
}

.galleryformatter-greenarrows .gallery-thumbs ul {
  padding-left: 0px;
}

/*********************************Slideshows*********************************/

.view-id-gallery_photos .views_slideshow_singleframe_slide {
  z-index: 10 !important;
}